body {
    font-family: Arial, sans-serif;
    background-color: #d2bfc8;
    color: #43295c;
    line-height: 1.6;
    }
 h1 {
    color: #251931;
    text-align: center;
    font-size: 2.5em;
    }
 h2 {
     color: #4c7b8e; 
    font-size: 1.8em;
    text-align: center;
     margin-top: 20px;
     }
table {
 width: 100%;
 margin-top: 10px;
    }  
    th {
        background-color: #e80971;
        padding: 10px;
        border: 1px rgb(252, 5, 5);
        border-collapse: collapse;
    }  
    .gaisa_rinda {
        background-color: #503a76;
    }
    .tumsa_rinda {
        background-color: #7904e6;
    }  
    